.settingsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(90vh - 1px);
}

.settingsContainer .inputSections {
    width: 40%;
}

.settingsContainer .inputSections div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.settingsContainer .inputSections div label {
    font-size: 0.9rem;
    font-weight: 600;
}

.settingsContainer .inputSections div input {
    width: 75%;
    padding: 0.5rem 1rem;
    border: 1px solid rgba(236, 236, 242, 1);
    border-radius: 0.375rem;
}

.settingsContainer button {
    width: 40%;
    padding: 0.7rem 0;
    border: none;
    border-radius: 0.375rem;
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 1rem;
    background: rgba(27, 72, 218, 1);
    color: white;
    cursor: pointer;
}

.settingsContainer button:last-child {
    background: rgba(235, 13, 13, 1);
}

@media (max-width: 768px) {
    .settingsContainer .inputSections {
        width: 80%;
    }
    .settingsContainer button {
        width: 80%;
    }
}