.settingsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(90vh - 1px);
}

.settingsContainer .inputSections {
    width: 40%;
}

.settingsContainer .inputSections div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.settingsContainer .inputSections div label {
    font-size: 0.9rem;
    font-weight: 600;
}

.settingsContainer .inputSections div input {
    width: 75%;
    padding: 0.5rem 1rem;
    border: 1px solid rgba(236, 236, 242, 1);
    border-radius: 0.375rem;
}

.settingsContainer button {
    width: 40%;
    padding: 0.7rem 0;
    border: none;
    border-radius: 0.375rem;
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 1rem;
    background: rgba(27, 72, 218, 1);
    color: white;
    cursor: pointer;
}

.settingsContainer button:last-child {
    background: rgba(235, 13, 13, 1);
}

/* Responsive design */
@media (max-width: 1024px) {
    .settingsContainer {
        margin-top: 5rem;
        height: 60vh;
    }
    .settingsContainer .inputSections {
        width: 60%;
    }
    .settingsContainer .inputSections div label {
        font-size: 0.85rem;
    }
    .settingsContainer button {
        width: 60%;
        font-size: 0.85rem;
    }
}

@media (max-width: 768px) {
    .settingsContainer {
        height: 50vh;
    }
    .settingsContainer .inputSections {
        width: calc(80% - 2rem);
    }
    .settingsContainer .inputSections div label {
        font-size: 0.8rem;
    }
    .settingsContainer button {
        width: calc(80% - 2rem);
        font-size: 0.8rem;
    }
}

@media (max-width: 425px) {
    .settingsContainer {
        height: 45vh;
    }
    .settingsContainer .inputSections {
        width: calc(80% - 2rem);
    }
    .settingsContainer .inputSections div {
        flex-direction: column;
        align-items: flex-start;
    }
    .settingsContainer .inputSections div input {
        width: calc(100% - 2rem);
        margin-top: 0.5rem;
    }
    .settingsContainer button {
        width: calc(80% - 2rem);
        font-size: 0.75rem;
    }
}

@media (max-width: 375px) {
    .settingsContainer {
        height: 40vh;
    }
    .settingsContainer .inputSections {
        width: 90%;
    }
    .settingsContainer .inputSections div label {
        font-size: 0.75rem;
    }
    .settingsContainer button {
        width: 90%;
        font-size: 0.7rem;
    }
}

@media (max-width: 320px) {
    .settingsContainer .inputSections {
        width: 93%;
    }
    .settingsContainer .inputSections div input {
        padding: 0.4rem 0.8rem;
    }
    .settingsContainer button {
        width: 90%;
        padding: 0.6rem 0;
        font-size: 0.65rem;
    }
}