.settings {
    display: flex;
    height: 100vh;
}

.settings .leftContainer {
    width: 20%;
    border-right: 1px solid lightgray;
}

.settings .rightContainer {
    width: 80%;
}

@media (max-width: 768px) {
    .settings .leftContainer {
        display: none;
    }
    .settings .rightContainer {
        width: 100%;
    }
}