.analytics {
    display: flex;
    height: 100vh;
}

.analytics .leftContainer {
    width: 20%;
    border-right: 1px solid lightgray;
}

.analytics .rightContainer {
    width: 80%;
}

.analytics .rightContainer .sidebar {
    display: none;
}

/* Responsive design */
@media (max-width: 768px) {
    .analytics .leftContainer {
        display: none;
    }
    .analytics .rightContainer {
        width: 100%;
    }
    .analytics .rightContainer .sidebar {
        display: block;
        border-bottom: 1px solid lightgray;
    }
}