.links {
    display: flex;
    height: 100vh;
}

.links .leftContainer {
    width: 20%;
    border-right: 1px solid lightgray;
}

.links .rightContainer {
    width: 80%;
}

.links .rightContainer .sidebar {
    display: none;
}

@media (max-width: 768px) {
    .links .leftContainer {
        display: none;
    }
    .links .rightContainer {
        width: 100%;
    }
    .links .rightContainer .sidebar {
        display: block;
        border-bottom: 1px solid lightgray;
    }
}