.linksContainer {
  height: calc(90vh - 65px);
  padding: 2rem;
  background: #f8f9fa;
}

.linksContainer .table {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 0.75rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
  color: rgba(59, 60, 81, 1);
}
  
.table th, .table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table td {
  background: white;
}
  
.table th {
  background: rgba(243, 247, 253, 1);
}

.table th:first-child {
  border-top-left-radius: 0.75rem;
}

.table th:last-child {
  border-top-right-radius: 0.75rem;
}
  
.table tr:hover {
  background-color: #f9f9f9;
}
  
.active {
  color: rgba(30, 176, 54, 1);
  font-weight: bold;
}
  
.inactive {
  color: rgba(176, 144, 30, 1);
  font-weight: bold;
}
  
.editButton {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  color: rgba(59, 60, 81, 1);
}
  
.deleteButton {
  background: none;
  border: none;
  cursor: pointer;
  color: rgba(59, 60, 81, 1);
  margin-left: 1rem;
}
  
.deleteButton:hover {
  text-decoration: underline;
}

/* Responsive design */
@media (max-width: 1024px) {
  .linksContainer {
      padding: 1.5rem;
  }
  .table th, .table td {
      padding: 8px;
  }
}

@media (max-width: 768px) {
  .linksContainer {
      padding: 1rem;
  }
  .table th, .table td {
      font-size: 0.9rem;
      padding: 6px;
  }
}

@media (max-width: 425px) {
  .linksContainer {
      padding: 0.8rem;
  }
  .table th, .table td {
      font-size: 0.85rem;
      padding: 4px;
  }
  .editButton, .deleteButton {
      margin: 0 3px;
  }
}

@media (max-width: 375px) {
  .linksContainer {
      padding: 0.6rem;
  }
  .table th, .table td {
      font-size: 0.8rem;
      padding: 3px;
  }
}

@media (max-width: 320px) {
  .linksContainer {
      padding: 0.5rem;
  }
  .table th, .table td {
      font-size: 0.5rem;
      padding: 2px;
  }
  .table {
      border-radius: 0.15rem;
  }
  .table th:first-child {
      border-top-left-radius: 0.5rem;
  }
  .table th:last-child {
      border-top-right-radius: 0.5rem;
  }
}