.sidebar .logoContainer {
    padding: 1.5rem;
}

.sidebar .sideItemsContainer {
    padding: 0.75rem;
}

.sidebar .sideItemsContainer .sideItem {
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
}

.sidebar .sideItemsContainer .sideItem:hover {
    background: rgba(243, 247, 253, 1);
    color: rgba(27, 72, 218, 1);
    cursor: pointer;
}

.sidebar .sideItemsContainer .sideItem.active {
    background: rgba(243, 247, 253, 1);
    color: rgba(27, 72, 218, 1);
}

@media (max-width: 768px) {
    .logoContainer {
        display: none;
    }
    .sidebar .sideItemsContainer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        padding: 0;
        margin: 0.5rem 0;
    }
    .sidebar .sideItemsContainer .sideItem {
        margin-bottom: 0;
    }
}

@media (max-width: 425px) {
    .sidebar .sideItemsContainer {
        flex-wrap: wrap;
    }
    .sidebar .sideItemsContainer .sideItem {
        font-size: 0.6rem;
    }
}

@media (max-width: 375px) {
    .sidebar .sideItemsContainer {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .sidebar .sideItemsContainer .sideItem {
        /* padding: 0.5rem; */
        font-size: 0.6rem;
    }
}

@media (max-width: 320px) {
    .sidebar .sideItemsContainer {
        flex-wrap: wrap;
    }
    .sidebar .sideItemsContainer .sideItem {
        padding: 0.4rem;
        font-size: 0.5rem;
    }
}